<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- 
<h2>Pragmaticカート</h2>
<ul>
  <% @cart.line_items.each do |item|  %>
-->
    <!-- <li><%= item.product.title %></li> -->
<!--    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end  %>
</ul>
-->

<!--
<div class="cart_title">カート</div>
<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %>&times;</td>
      <td><%= item.product.title %></td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>
  
  <tr class="total_line">
    <td colspan="2">合計</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>

</table>
-->
<!--
<div class="cart_title">カート</div>
<table>
  <%= render(@cart.line_items) %>
  
  <tr class="total_line">
    <td colspan="2">合計</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
  
</table>
-->
<%= render @cart %>

<%= link_to 'Back', store_index_path %>
<%= button_to 'カートを空にする', @cart, method: :delete, confirm: '本当によろしいですか？' %>
